
Week_1/Day_2/python_exercise/
Week_1/Day_5/assessment-exam-student-python/
Week_1/Day_6/SQL_exercise/
Week_2/Day_2/Pandas_exercise
Week_2/Day_2/Pandas_exercise
Week_2/Day_3/Other_data_types_exercise/
Week_2/Day_4/mini-project-II/
Week_2/Day_5/probability_and_statistics_exercise/
Week_3/Day_1/dataviz_exercises/
Week_3/Day_3/data_preparation_exercise/
Week_3/Day_4/unsupervised_learning_exercise/
Week_3/Day_5/linear_algebra_exercise/
Week_4/Day_1/dimensionality_reduction_exercise/
Week_4/Day_3/regression_exercise/
Week_5/Day_1/train_test_exercise/
Week_5/Day_2/logistic_regression_exercise/
Week_5/Day_3/ensembles_exercise/
Week_5/Day_4/svm_naive_bayes_exercise/
Week_5/Day_5/Repo LHL_Midterm_1/
*.csv
Week_7/Day_1/pipelines_and_persistence_exercise/
Week_7/Day_1/Lecture/
