
Week_1/Day_2/python_exercise/
Week_1/Day_5/assessment-exam-student-python/
Week_1/Day_6/SQL_exercise/
Week_2/Day_2/Pandas_exercise
Week_2/Day_2/Pandas_exercise
Week_2/Day_3/Other_data_types_exercise/
Week_2/Day_4/mini-project-II/
Week_2/Day_5/probability_and_statistics_exercise/
Week_3/Day_1/dataviz_exercises/
Week_3/Day_3/data_preparation_exercise/
Week_3/Day_4/unsupervised_learning_exercise/
